/.cquery_cached_index/
/.settings/
/ide/eclipse/linux/pc/libbase/.settings/.gitignore
/.gitignore~
/ide/eclipse/linux/pc/libmemory/.settings/.gitignore
/ide/eclipse/linux/pc/libnetwork/.settings/.gitignore
/ide/eclipse/linux/pc/libosal/.settings/.gitignore
/ide/eclipse/linux/pc/libstack/.settings/.gitignore
.settings
